In [6]:
import pandas as pd

In [7]:
df_2015 = pd.read_csv('./export_2015.csv')
df_2016 = pd.read_csv('./export_2016.csv')
df_2017 = pd.read_csv('./export_2017.csv')
df_2018 = pd.read_csv('./export_2018.csv')
df_2019 = pd.read_csv('./export_2019.csv')
df_2020 = pd.read_csv('./export_2020.csv')

In [8]:
df_concat = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019, df_2020], axis=0)

In [9]:
df_concat

,Unnamed: 0,age,BuildingType,Neighborhood,NumberofBuildings,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,0,48.0,Multifamily LR (1-4),MAGNOLIA / QUEEN ANNE,1.0,40086,NaN,NaN,NaN,NaN,NaN
1,1,23.0,NonResidential,GREATER DUWAMISH,1.0,22452,1354219.0,0.0,589893.0,764350.0,44.71
2,2,8.0,Multifamily HR (10+),DOWNTOWN,1.0,90959,4361755.0,0.0,2829904.0,1531968.0,101.09
3,3,25.0,NonResidential,LAKE UNION,1.0,282863,18829136.0,0.0,10638785.0,8190794.0,509.18
4,4,7.0,NonResidential,GREATER DUWAMISH,1.0,63225,6619941.0,0.0,6620217.0,0.0,46.15
...,...,...,...,...,...,...,...,...,...,...,...
3623,3623,1.0,NonResidential,NORTHWEST,1.0,213065,NaN,0.0,NaN,NaN,NaN
3624,3624,2.0,Multifamily MR (5-9),MAGNOLIA / QUEEN ANNE,1.0,182411,3250235.0,0.0,2796535.0,415123.0,36.90
3625,3625,60.0,NonResidential,MAGNOLIA / QUEEN ANNE,1.0,20289,2211138.0,0.0,914426.0,1196883.0,68.40
3626,3626,18.0,Multifamily MR (5-9),CENTRAL,2.0,183379,6643564.0,0.0,2733787.0,3809275.0,216.80
3627,3627,2.0,Multifamily MR (5-9),BALLARD,1.0,189044,4056120.0,0.0,2639858.0,1416262.0,89.30

In [10]:
df_final = df_concat.drop(['Unnamed: 0', 'NumberofBuildings'], axis=1)

In [11]:
df_final

,age,BuildingType,Neighborhood,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,48.0,Multifamily LR (1-4),MAGNOLIA / QUEEN ANNE,40086,NaN,NaN,NaN,NaN,NaN
1,23.0,NonResidential,GREATER DUWAMISH,22452,1354219.0,0.0,589893.0,764350.0,44.71
2,8.0,Multifamily HR (10+),DOWNTOWN,90959,4361755.0,0.0,2829904.0,1531968.0,101.09
3,25.0,NonResidential,LAKE UNION,282863,18829136.0,0.0,10638785.0,8190794.0,509.18
4,7.0,NonResidential,GREATER DUWAMISH,63225,6619941.0,0.0,6620217.0,0.0,46.15
...,...,...,...,...,...,...,...,...,...
3623,1.0,NonResidential,NORTHWEST,213065,NaN,0.0,NaN,NaN,NaN
3624,2.0,Multifamily MR (5-9),MAGNOLIA / QUEEN ANNE,182411,3250235.0,0.0,2796535.0,415123.0,36.90
3625,60.0,NonResidential,MAGNOLIA / QUEEN ANNE,20289,2211138.0,0.0,914426.0,1196883.0,68.40
3626,18.0,Multifamily MR (5-9),CENTRAL,183379,6643564.0,0.0,2733787.0,3809275.0,216.80
3627,2.0,Multifamily MR (5-9),BALLARD,189044,4056120.0,0.0,2639858.0,1416262.0,89.30

In [12]:
df_final.to_csv('concat_datasets.csv')