In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('concat_datasets.csv')

In [4]:
df = df.drop('Unnamed: 0', axis=1)

In [7]:
df

,age,BuildingType,Neighborhood,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,48.0,Multifamily LR (1-4),MAGNOLIA / QUEEN ANNE,40086,NaN,NaN,NaN,NaN,NaN
1,23.0,NonResidential,GREATER DUWAMISH,22452,1354219.0,0.0,589893.0,764350.0,44.71
2,8.0,Multifamily HR (10+),DOWNTOWN,90959,4361755.0,0.0,2829904.0,1531968.0,101.09
3,25.0,NonResidential,LAKE UNION,282863,18829136.0,0.0,10638785.0,8190794.0,509.18
4,7.0,NonResidential,GREATER DUWAMISH,63225,6619941.0,0.0,6620217.0,0.0,46.15
...,...,...,...,...,...,...,...,...,...
20919,1.0,NonResidential,NORTHWEST,213065,NaN,0.0,NaN,NaN,NaN
20920,2.0,Multifamily MR (5-9),MAGNOLIA / QUEEN ANNE,182411,3250235.0,0.0,2796535.0,415123.0,36.90
20921,60.0,NonResidential,MAGNOLIA / QUEEN ANNE,20289,2211138.0,0.0,914426.0,1196883.0,68.40
20922,18.0,Multifamily MR (5-9),CENTRAL,183379,6643564.0,0.0,2733787.0,3809275.0,216.80
20923,2.0,Multifamily MR (5-9),BALLARD,189044,4056120.0,0.0,2639858.0,1416262.0,89.30

In [8]:
df['BuildingType'].unique()

array(['Multifamily LR (1-4)', 'NonResidential', 'Multifamily HR (10+)',
       'SPS-District K-12', 'Multifamily MR (5-9)', 'Campus',
       'Nonresidential COS', 'Nonresidential WA'], dtype=object)

In [13]:
df_non_residentiel = df[df["BuildingType"].isin(['NonResidential', 'Nonresidential COS', 'Nonresidential WA'])]

In [16]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('TotalGHGEmissions~ Neighborhood * BuildingType', data = df_non_residentiel).fit()
anova_result = sm.stats.anova_lm(model, typ=2)
anova_result

C:\Users\remyl\miniconda3\lib\site-packages\statsmodels\base\model.py:1871: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 25, but rank is 2
  warnings.warn('covariance of constraints does not have full '
C:\Users\remyl\miniconda3\lib\site-packages\statsmodels\base\model.py:1871: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 2, but rank is 0
  warnings.warn('covariance of constraints does not have full '
C:\Users\remyl\miniconda3\lib\site-packages\statsmodels\base\model.py:1900: RuntimeWarning: invalid value encountered in divide
  F /= J
C:\Users\remyl\miniconda3\lib\site-packages\statsmodels\base\model.py:1871: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 50, but rank is 16
  warnings.warn('covariance of constraints does not have full '

                                 sum_sq      df         F    PR(>F)
Neighborhood               3.948829e+05    25.0  0.001480  0.998521
BuildingType                        NaN     2.0       NaN       NaN
Neighborhood:BuildingType  9.631294e+06    50.0  0.018046  1.000000
Residual                   9.812784e+10  9193.0       NaN       NaN

In [15]:
df_non_residentiel.corr()

,age,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
age,1.000000,-0.247829,-0.011610,0.011392,-0.176310,-0.103422,-0.000731
PropertyGFATotal,-0.247829,1.000000,0.012535,0.031707,0.619406,0.259445,0.067347
SiteEnergyUse(kBtu),-0.011610,0.012535,1.000000,0.051254,0.024787,0.117689,0.051554
SteamUse(kBtu),0.011392,0.031707,0.051254,1.000000,0.032576,-0.002956,0.996437
Electricity(kBtu),-0.176310,0.619406,0.024787,0.032576,1.000000,0.265023,0.077484
NaturalGas(kBtu),-0.103422,0.259445,0.117689,-0.002956,0.265023,1.000000,0.074767
TotalGHGEmissions,-0.000731,0.067347,0.051554,0.996437,0.077484,0.074767,1.000000

In [14]:
df_non_residentiel

,age,BuildingType,Neighborhood,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
1,23.0,NonResidential,GREATER DUWAMISH,22452,1354219.0,0.0,589893.0,764350.0,44.71
3,25.0,NonResidential,LAKE UNION,282863,18829136.0,0.0,10638785.0,8190794.0,509.18
4,7.0,NonResidential,GREATER DUWAMISH,63225,6619941.0,0.0,6620217.0,0.0,46.15
7,101.0,NonResidential,GREATER DUWAMISH,64512,6155789.0,0.0,3128812.0,3027106.0,182.58
8,9.0,NonResidential,LAKE UNION,209816,7380088.0,0.0,5725946.0,1654379.0,127.78
...,...,...,...,...,...,...,...,...,...
20907,1.0,NonResidential,NORTHWEST,150138,1082878.0,0.0,303144.0,779734.0,43.00
20914,2.0,NonResidential,BALLARD,52100,NaN,0.0,0.0,0.0,0.00
20916,2.0,NonResidential,MAGNOLIA / QUEEN ANNE,270000,2593545.0,0.0,720795.0,1735619.0,96.00
20919,1.0,NonResidential,NORTHWEST,213065,NaN,0.0,NaN,NaN,NaN
20921,60.0,NonResidential,MAGNOLIA / QUEEN ANNE,20289,2211138.0,0.0,914426.0,1196883.0,68.40

In [17]:
df_non_residentiel.drop(['age', 'BuildingType', 'Neighborhood'], axis=1)

,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
1,22452,1354219.0,0.0,589893.0,764350.0,44.71
3,282863,18829136.0,0.0,10638785.0,8190794.0,509.18
4,63225,6619941.0,0.0,6620217.0,0.0,46.15
7,64512,6155789.0,0.0,3128812.0,3027106.0,182.58
8,209816,7380088.0,0.0,5725946.0,1654379.0,127.78
...,...,...,...,...,...,...
20907,150138,1082878.0,0.0,303144.0,779734.0,43.00
20914,52100,NaN,0.0,0.0,0.0,0.00
20916,270000,2593545.0,0.0,720795.0,1735619.0,96.00
20919,213065,NaN,0.0,NaN,NaN,NaN
20921,20289,2211138.0,0.0,914426.0,1196883.0,68.40

In [22]:
df_non_residentiel.isna().sum()

age                       1
BuildingType              0
Neighborhood             11
PropertyGFATotal          0
SiteEnergyUse(kBtu)     232
SteamUse(kBtu)         1436
Electricity(kBtu)        44
NaturalGas(kBtu)        485
TotalGHGEmissions        31
dtype: int64

In [23]:
df_non_residentiel = df_non_residentiel.dropna()

In [24]:
df_non_residentiel.isna().sum()

age                    0
BuildingType           0
Neighborhood           0
PropertyGFATotal       0
SiteEnergyUse(kBtu)    0
SteamUse(kBtu)         0
Electricity(kBtu)      0
NaturalGas(kBtu)       0
TotalGHGEmissions      0
dtype: int64

# Model

In [25]:
y = df_non_residentiel['TotalGHGEmissions']
X = df_non_residentiel.drop(['TotalGHGEmissions'],axis=1)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6055, 8) (1514, 8) (6055,) (1514,)

In [ ]:
from lazypredict.Supervised import LazyRegressor

reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
models, predictions = reg.fit(X_train, X_test, y_train, y_test)

print(models)

 21%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰                                                              | 9/42 [00:03<00:16,  2.06it/s]

GammaRegressor model failed to execute
Some value(s) of y are out of the valid range of the loss 'HalfGammaLoss'.

 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹                      | 30/42 [00:21<00:06,  1.73it/s]

PoissonRegressor model failed to execute
Some value(s) of y are out of the valid range of the loss 'HalfPoissonLoss'.

 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹                      | 30/42 [00:40<00:06,  1.73it/s]