In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('../DATA/2017_Building_Energy_Benchmarking.csv')

In [22]:
new_df = pd.DataFrame()

In [23]:
new_df['age'] = df['DataYear'] - df['YearBuilt']

In [24]:
new_df['BuildingType'] = df['BuildingType']

In [25]:
new_df['Neighborhood'] = df['Neighborhood']

In [26]:
new_df['NumberofBuildings'] = df['NumberofBuildings']

In [27]:
new_df['PropertyGFATotal'] = df['PropertyGFATotal']

In [28]:
new_df['SiteEnergyUse(kBtu)'] = df['SiteEnergyUse(kBtu)']

In [29]:
new_df['SteamUse(kBtu)'] = df['SteamUse(kBtu)']

In [30]:
new_df['Electricity(kBtu)'] = df['Electricity(kBtu)']

In [31]:
new_df['NaturalGas(kBtu)'] = df['NaturalGas(kBtu)']

In [32]:
new_df['TotalGHGEmissions'] = df['TotalGHGEmissions']

In [33]:
new_df

,age,BuildingType,Neighborhood,NumberofBuildings,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,90.0,NonResidential,DOWNTOWN,1.0,88434,7.361655e+06,2122835.75,3.950356e+06,1288462.99,197.63
1,21.0,NonResidential,DOWNTOWN,1.0,103566,7.804844e+06,NaN,3.016757e+06,4788086.72,266.78
2,48.0,Campus,DOWNTOWN,1.0,956110,7.447033e+07,24313482.00,4.871284e+07,1444000.10,1570.75
3,91.0,NonResidential,DOWNTOWN,1.0,61320,7.372222e+06,2228119.50,3.008514e+06,2135587.89,244.32
4,37.0,NonResidential,DOWNTOWN,1.0,175580,1.433578e+07,NaN,5.198202e+06,9137575.78,506.80
...,...,...,...,...,...,...,...,...,...,...
3456,111.0,Multifamily LR (1-4),EAST,NaN,39984,NaN,NaN,NaN,NaN,0.00
3457,1.0,Multifamily MR (5-9),EAST,1.0,69656,1.349080e+06,NaN,5.740574e+05,775022.95,43.54
3458,2.0,Multifamily MR (5-9),CENTRAL,1.0,20838,9.024829e+05,NaN,5.024859e+05,399997.00,23.32
3459,2.0,Multifamily MR (5-9),BALLARD,1.0,67505,1.837727e+06,NaN,1.823499e+06,NaN,7.54
3460,17.0,Multifamily MR (5-9),DOWNTOWN,1.0,63928,3.569798e+06,NaN,1.598505e+06,1971292.77,111.31

In [34]:
new_df.to_csv('export_2017.csv')