In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('../DATA/2018_Building_Energy_Benchmarking.csv')

In [18]:
new_df = pd.DataFrame()

In [19]:
new_df['age'] = df['Data Year'] - df['Year Built']

In [20]:
new_df['BuildingType'] = df['Building Type']

In [21]:
new_df['Neighborhood'] = df['Neighborhood']

In [22]:
new_df['NumberofBuildings'] = 0

In [23]:
new_df['PropertyGFATotal'] = df['Property GFA Total']

In [24]:
new_df['SiteEnergyUse(kBtu)'] = df['SiteEnergyUse(kBtu)']

In [25]:
new_df['SteamUse(kBtu)'] = df['SteamUse(kBtu)']

In [26]:
new_df['Electricity(kBtu)'] = df['Electricity(kBtu)']

In [27]:
new_df['NaturalGas(kBtu)'] = df['NaturalGas(kBtu)']

In [28]:
new_df['TotalGHGEmissions'] = df['Total Ghg Emissions']

In [29]:
new_df

,age,BuildingType,Neighborhood,NumberofBuildings,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,91,NonResidential,DOWNTOWN,0,88434,7465990.0,2090193,3907951,1410145,196.4
1,22,NonResidential,DOWNTOWN,0,103566,7962964.0,0,2866615,5030730,274.8
2,49,NonResidential,DOWNTOWN,0,956110,67336376.0,20851598,44453651,1450300,1304.2
3,92,NonResidential,DOWNTOWN,0,61320,7426193.0,2003570,2626057,2730608,258.5
4,38,NonResidential,DOWNTOWN,0,175580,13261917.0,0,4751183,8382912,457.9
...,...,...,...,...,...,...,...,...,...,...
3533,88,NonResidential,DOWNTOWN,0,22710,NaN,0,0,0,0.0
3534,38,NonResidential,MAGNOLIA / QUEEN ANNE,0,30989,NaN,0,0,0,0.0
3535,86,NonResidential,GREATER DUWAMISH,0,24617,NaN,0,0,0,0.0
3536,98,NonResidential,EAST,0,23040,NaN,0,0,0,0.0
3537,23,NonResidential,NORTHEAST,0,227640,NaN,0,0,0,0.0

In [30]:
new_df.to_csv('./export_2018.csv')