In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../DATA/2020_Building_Energy_Benchmarking.csv')

In [3]:
new_df = pd.DataFrame()

In [4]:
new_df['age'] = df['DataYear'] - df['YearBuilt']

In [5]:
new_df['BuildingType'] = df['BuildingType']

In [6]:
new_df['Neighborhood'] = df['Neighborhood']

In [7]:
new_df['NumberofBuildings'] = df['NumberofBuildings']

In [8]:
new_df['PropertyGFATotal'] = df['PropertyGFATotal']

In [9]:
new_df['SiteEnergyUse(kBtu)'] = df['SiteEnergyUse(kBtu)']

In [10]:
new_df['SteamUse(kBtu)'] = df['SteamUse(kBtu)']

In [11]:
new_df['Electricity(kBtu)'] = df['Electricity(kBtu)']

In [12]:
new_df['NaturalGas(kBtu)'] = df['NaturalGas(kBtu)']

In [13]:
new_df['TotalGHGEmissions'] = df['TotalGHGEmissions']

In [14]:
new_df

,age,BuildingType,Neighborhood,NumberofBuildings,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,93,NonResidential,DOWNTOWN,1,88434,4923562.0,1457837,2734351.0,632586.0,169.1
1,24,NonResidential,DOWNTOWN,1,103566,3601694.0,0,1940292.0,1661402.0,98.6
2,51,NonResidential,DOWNTOWN,3,956110,36772776.0,10359896,25517379.0,895500.0,1043.2
3,94,NonResidential,DOWNTOWN,1,61320,2982710.0,917724,1177927.0,887059.0,129.6
4,40,NonResidential,DOWNTOWN,1,175580,8364978.0,0,3761566.0,4603411.0,264.5
...,...,...,...,...,...,...,...,...,...,...
3623,1,NonResidential,NORTHWEST,1,213065,NaN,0,NaN,NaN,NaN
3624,2,Multifamily MR (5-9),MAGNOLIA / QUEEN ANNE,1,182411,3250235.0,0,2796535.0,415123.0,36.9
3625,60,NonResidential,MAGNOLIA / QUEEN ANNE,1,20289,2211138.0,0,914426.0,1196883.0,68.4
3626,18,Multifamily MR (5-9),CENTRAL,2,183379,6643564.0,0,2733787.0,3809275.0,216.8
3627,2,Multifamily MR (5-9),BALLARD,1,189044,4056120.0,0,2639858.0,1416262.0,89.3

In [15]:
new_df.to_csv('export_2020.csv')