In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('../DATA/2019_Building_Energy_Benchmarking.csv')

In [16]:
new_df = pd.DataFrame()

In [17]:
new_df['age'] = df['DataYear'] - df['YearBuilt']

In [18]:
new_df['BuildingType'] = df['BuildingType']

In [19]:
new_df['Neighborhood'] = df['Neighborhood']

In [20]:
new_df['NumberofBuildings'] = 0

In [21]:
new_df['PropertyGFATotal'] = df['PropertyGFATotal']

In [22]:
new_df['SiteEnergyUse(kBtu)'] = df['SiteEnergyUse(kBtu)']

In [23]:
new_df['SteamUse(kBtu)'] = df['SteamUse(kBtu)']

In [24]:
new_df['Electricity(kBtu)'] = df['Electricity(kBtu)']

In [25]:
new_df['NaturalGas(kBtu)'] = df['NaturalGas(kBtu)']

In [26]:
new_df['TotalGHGEmissions'] = df['TotalGHGEmissions']

In [27]:
new_df

,age,BuildingType,Neighborhood,NumberofBuildings,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,92,NonResidential,DOWNTOWN,0,88434,7363218.0,2159078,3871996,1320791,208.8
1,23,NonResidential,DOWNTOWN,0,103566,8040648.0,0,2946902,5059502,286.9
2,50,NonResidential,DOWNTOWN,0,956110,68355568.0,22601024,44075841,1426400,1549.0
3,93,NonResidential,DOWNTOWN,0,61320,6346838.0,2104444,2201145,2013415,232.4
4,39,NonResidential,DOWNTOWN,0,175580,15875107.0,0,5444815,10430292,587.5
...,...,...,...,...,...,...,...,...,...,...
3576,1,NonResidential,LAKE UNION,0,170885,NaN,0,0,0,0.0
3577,1,NonResidential,NORTH,0,71461,2236055.0,0,2236055,0,13.8
3578,1,NonResidential,SOUTHWEST,0,78232,4875764.0,0,2541289,2340118,139.9
3579,5,Multifamily MR (5-9),EAST,0,82960,2350682.0,0,1863514,489112,37.5
3580,1,Multifamily MR (5-9),NORTH,0,141793,1980135.0,0,1257931,722204,46.1

In [28]:
new_df.to_csv('export_2019.csv')