In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('../DATA/2015_Building_Energy_Benchmarking.csv')

In [18]:
new_df = pd.DataFrame()

In [19]:
new_df['age'] = df['DataYear'] - df['YearBuilt']

In [20]:
new_df['BuildingType'] = df['BuildingType']

In [21]:
new_df['Neighborhood'] = df['Neighborhood']

In [22]:
new_df['NumberofBuildings'] = df['NumberofBuildings']

In [23]:
new_df['PropertyGFATotal'] = df['PropertyGFATotal']

In [24]:
new_df['SiteEnergyUse(kBtu)'] = df['SiteEnergyUse(kBtu)']

In [25]:
new_df['SteamUse(kBtu)'] = df['SteamUse(kBtu)']

In [26]:
new_df['Electricity(kBtu)'] = df['Electricity(kBtu)']

In [27]:
new_df['NaturalGas(kBtu)'] = df['NaturalGas(kBtu)']

In [28]:
new_df['GHGEmissions(MetricTonsCO2e)'] = df['GHGEmissions(MetricTonsCO2e)']

In [29]:
new_df

,age,BuildingType,Neighborhood,NumberofBuildings,PropertyGFATotal,SiteEnergyUse(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),GHGEmissions(MetricTonsCO2e)
0,48,Multifamily LR (1-4),MAGNOLIA / QUEEN ANNE,1,40086,NaN,NaN,NaN,NaN,NaN
1,23,NonResidential,GREATER DUWAMISH,1,22452,1354219.0,0.0,589893.0,764350.0,44.71
2,8,Multifamily HR (10+),DOWNTOWN,1,90959,4361755.0,0.0,2829904.0,1531968.0,101.09
3,25,NonResidential,LAKE UNION,1,282863,18829136.0,0.0,10638785.0,8190794.0,509.18
4,7,NonResidential,GREATER DUWAMISH,1,63225,6619941.0,0.0,6620217.0,0.0,46.15
...,...,...,...,...,...,...,...,...,...,...
3335,2,Multifamily MR (5-9),LAKE UNION,1,41502,2236406.0,0.0,902251.0,1334192.0,77.15
3336,4,Multifamily MR (5-9),CENTRAL,1,140254,4424263.0,0.0,3136246.0,1288147.0,90.28
3337,1,Multifamily MR (5-9),BALLARD,1,418285,7641887.0,0.0,5635043.0,2007079.0,145.88
3338,1,Multifamily MR (5-9),LAKE UNION,1,81993,2558573.0,0.0,1469433.0,1089201.0,68.09
3339,3,Multifamily MR (5-9),MAGNOLIA / QUEEN ANNE,1,43762,653672.0,0.0,653699.0,0.0,4.56